<app-categorias></app-categorias>


<section>

    <div class="row">
        <!-- panel izquierda -->
        <div class="col-12 col-md-3 border panel-izquierdo order-sm-12 order-12 order-md-1">
            <h4>restaurantes</h4>
            <ul>
                <li>restaurante 1</li>
                <li>restaurante 2</li>
                <li>restaurante 3</li>
                <li>restaurante 4</li>
                <li>restaurante 5</li>
            </ul>
           

        </div>
        <!-- panel productos -->
        <div class="col-md-9 border products-container p-3 order-1 order-md-12">

            <!-- ciclo for en angular los productos se van a renderizar desde la base de datos -->
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/09/11/30/food-714371__340.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <!-- se llena con angular -->
                        <a>Nombre_del_producto</a>
                    </h4>

                    <p>descripcion del producto</p>
                    <div class="card-footer">
                        <button class="btn">comprar</button>
                        <button class="btn">$22.0</button>
                    </div>

                    



                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/09/11/30/food-714371__340.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <!-- se llena con angular -->
                        <a>Nombre_del_producto</a>
                    </h4>

                    <p>descripcion del producto</p>
                    <div class="card-footer">
                        <button class="btn">comprar</button>
                        <button class="btn">$22.0</button>
                    </div>

                    



                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/09/11/30/food-714371__340.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <!-- se llena con angular -->
                        <a>Nombre_del_producto</a>
                    </h4>

                    <p>descripcion del producto</p>
                    <div class="card-footer">
                        <button class="btn">comprar</button>
                        <button class="btn">$22.0</button>
                    </div>

                    



                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/09/11/30/food-714371__340.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <!-- se llena con angular -->
                        <a>Nombre_del_producto</a>
                    </h4>

                    <p>descripcion del producto</p>
                    <div class="card-footer">
                        <button class="btn">comprar</button>
                        <button class="btn">$22.0</button>
                    </div>

                    



                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/09/11/30/food-714371__340.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <!-- se llena con angular -->
                        <a>Nombre_del_producto</a>
                    </h4>

                    <p>descripcion del producto</p>
                    <div class="card-footer">
                        <button class="btn">comprar</button>
                        <button class="btn">$22.0</button>
                    </div>

                    



                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/09/11/30/food-714371__340.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <!-- se llena con angular -->
                        <a>Nombre_del_producto</a>
                    </h4>

                    <p>descripcion del producto</p>
                    <div class="card-footer">
                        <button class="btn">comprar</button>
                        <button class="btn">$22.0</button>
                    </div>

                    



                </div>
            </div>
            <div class="card w-70">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/09/11/30/food-714371__340.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <!-- se llena con angular -->
                        <a>Nombre_del_producto</a>
                    </h4>

                    <p>descripcion del producto</p>
                    <div class="card-footer">
                        <button class="btn">comprar</button>
                        <button class="btn">$22.0</button>
                    </div>




                </div>
            </div>
            <div class="card w-70">
                <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/09/11/30/food-714371__340.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <!-- se llena con angular -->
                        <a>Nombre_del_producto</a>
                    </h4>

                    <p>descripcion del producto</p>
                    <div class="card-footer">
                        <button class="btn">comprar</button>
                        <button class="btn">$22.0</button>
                    </div>


                </div>
            </div>
      

            
           
        </div>
    </div>



</section>