<div class="tubody">
    <div class="contenlo">
      <div class="contenedor-uno">
        <div class="contenedor-dos">
          <div class="pompa1"></div>
        </div>
        <div class="conte">
          <div class="pizza"><p class="texto">Pizza familiar</p></div>
        </div>
        <i class="fas fa-store"></i>
        <div class="clase"><p>eatlify</p></div>
        <div class="eat">
          <i class="fas fa-history"></i>

          <i class="fas fa-store"></i>

          <i class="fas fa-truck"></i>
        </div>
      </div>

      <div class="contenedorbur">
        <div class="conte"></div>
        <div class="contenedor-dos">
          <div class="pompa12"></div>
        </div>
      </div>
    </div>

    <div class="rubi">
      <div class="linea">
        <div class="lineados">
          <div class="liquido"></div>
        </div>
        <div class="conodo"></div>
      </div>

      <div class="tesoro">
        <div class="tesorodos">
          <div class="buruno"></div>
        </div>
        <div class="contetodo"></div>
      </div>

      <div class="caja">
        <div class="cajados">
          <div class="burdos"></div>
        </div>
        <div class="contetodos"></div>
      </div>
    </div>
  </div>

  <div class="caja-img">
    <p>Many categories to choose from</p>
    <div class="item1"><p>Pizza de jamon</p></div>
    <div class="item2"><p>Ensaladas</p></div>
    <div class="item3"><p>Pastas</p></div>
    <div class="item4"><p>Hamburgueza</p></div>
    <div class="item5"><p>Bebidas</p></div>
    <div class="item6"><p>Postres</p></div>
    <div class="item7"><p>Mariscos</p></div>
    <div class="item8"><p>Carnes</p></div>
    <div class="item9"><p>Sopas</p></div>
    <div class="item10"><p>Pastelillos</p></div>
  </div>

  <div class="clasi">
    <p>How to order?</p>

    <div class="redo">
      <i class="fas fa-laptop"></i>
      <p>choose your location</p>
    </div>

    <div class="redo">
      <i class="fas fa-utensils"></i>
      <p>choose restauran</p>
    </div>

    <div class="redo">
      <i class="fas fa-pizza-slice"></i>
      <p>make your order</p>
    </div>

    <div class="redo">
      <i class="fas fa-truck"></i>
      <p>food is on the way</p>
    </div>
  </div>

  <div class="popular"></div>

  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>
  <h4>hola</h4>


  